.main__header-container {
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.main__header {
  font-size: 3rem;
  line-height: 1.2;
  font-family: serif;
  font-weight: 1000;
}

.main__header-container small {
  font-size: 65%;
  display: block;
  margin-top: 0.5rem;
  color: var(--color-grey-500);
}

.main .description {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-family: serif;
}

.activity-section {
  padding: 5rem;
  border: 1px solid var(--color-white-300);
  border-radius: 4px;

  max-width: 82.5rem;
}

@media screen and (max-width: 768px) {
  .activity-section {
    padding: 4rem 2rem;
  }
}
