.activity-container {
  min-height: 22.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.word {
  text-align: center;
  font-size: 2.4rem;
  color: var(--color-blue-300);
  font-weight: 700;
  font-family: sans-serif;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  margin-top: 5rem;
}

.disabled {
  pointer-events: none;
}

.prog-container {
  width: 100%;
  margin-top: 5rem;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.prog-bar-container {
  width: 100%;
  background-color: var(--color-white-300);
  height: 0.5rem;
  border-radius: 4px;
}

.prog-bar {
  background-color: var(--color-blue-300);
  width: 0;
  height: 100%;
  border-radius: 4px;
  transition: all 0.3s ease;
}
