/* shared button styles */
.btn {
  border: none;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.3s ease;
}

.btn:disabled {
  cursor: not-allowed;
}

/* primary specific button styles*/
.btn.primary {
  background-color: var(--color-blue-300);
  color: var(--color-white);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  padding: 1.5rem 2rem;
}
.btn.primary:hover:not(:disabled) {
  background-color: var(--color-blue-200);
}

/* secondary specific button styles*/
.btn.secondary {
  background-color: var(--color-green-400);
  color: var(--color-white);
}

.btn.secondary:hover:not(:disabled) {
  background-color: var(--color-green-300);
}

/* danger specific button styles*/
.btn.danger {
  background-color: var(--color-red-200);
  color: var(--color-white);
}

.btn.danger:hover:not(:disabled) {
  background-color: var(--color-red-100);
}

/* outlined specific button styles*/
.btn.outlined {
  background-color: transparent;
  color: var(--color-grey-300);
  border: 1px solid var(--color-grey-200);
}

.btn.outlined:hover:not(:disabled) {
  color: #026bb0;
  background-color: rgba(2, 107, 176, 0.1);
}
