.mainBtn {
  background-color: transparent;
  border: none;

  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-grey-300);
  border: 1px solid var(--color-white-300);
  line-height: 1.5;
  width: 100%;

  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.mainBtn:hover {
  color: #026bb0;
  background-color: rgba(2, 107, 176, 0.1);
}

.mainBtn .wrong {
  background-color: var(--color-red-200);
  color: var(--color-white-100);
}
.mainBtn .correct {
  background-color: var(--color-green-400);
  color: var(--color-white-100);
}
