:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white-100: #fff;
  --color-white-200: #e6e6e6;
  --color-white-300: #ddd;

  --color-grey-300: #333;
  --color-grey-500: #999;

  --color-blue-300: #026bb0;

  --color-red-200: #e74c3c;

  --color-green-400: #78b517;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
