.start-btn {
  border: none;
  background-color: var(--color-blue-300);
  color: var(--color-white-100);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  padding: 0 2rem;
  border-radius: 4px;
  cursor: pointer;
  height: 3.8rem;
}

.start-btn:hover {
  background-color: var(--color-blue-200);
}
